<div class="h-[50vh] mx-10
  font-rubik
  flex flex-col gap-4 backdrop-blur-sm">
  <!-- <p class=" text-bolby-light font-semibold tracking-widest text-2xl">About Me</p> -->

  <div class="w-full
    absolute -top-16
    flex flex-col items-start gap-4">

    <div class="flex flex-row items-end gap-3">
      <img src="{{profile}}"
      class="h-36 w-36
        border-8 border-pastel-purple
        rounded-full">

      <div>
        <h1 class="text-bolby-dark text-xl uppercase font-medium md:text-2xl md:tracking-widest">{{ name }}</h1>

        <h4 class="text-bolby-dark md:text-xl">{{ title }}</h4>
      </div>

    </div>

    <div class="w-full h-48 p-3
    bg-bolby-light rounded-xl
      overflow-hidden
      shadow-lg shadow-pastel-purple/50
      flex flex-col justify-around">

      <h4 class="hidden md:inline text-lg font-semibold text-bolby-red uppercase">
          About me
      </h4>

      <span class="paragraph">{{ resume }}</span>
    </div>
  </div>
</div>
