<div class="w-full h-[50vh] font-rubik backdrop-blur-sm">
  <!-- navbar -->
  <div class="
    h-14 px-7 py-3
    flex flex-row items-center justify-between
    border-b-2 border-bolby-light">
    <!-- logo de argentina programa -->
    <div class="flex items-center gap-3 justify-center">

      <div class="w-[46px] h-[40px] bg-cianAP flex justify-center items-center rounded-md">
        <img src="{{ logoAP }}" alt="" class="w-[30px]"/>
      </div>

      <div class="
        text-bolby-light
        text-sm
        leading-4
        flex flex-col">
        <p class="font-medium uppercase tracking-wider">Argentina Programa</p>
        <p class="font-normal">#yoprogramo</p>

      </div>

    </div>

    <!-- mis redes y boton de edición-->
    <div class="flex flex-row gap-4 items-center">
      <fa-icon [icon]="faLinkedinIn" size="lg" style="color: white"></fa-icon>
      <fa-icon [icon]="faGithubAlt" size="lg" style="color: white"></fa-icon>

      <p class="text-bolby-light text-lg font-medium tracking-wider">LOGIN</p>
    </div>
  </div>

  <!-- <div class="wrapper
    h-full w-full
    bg-[length:600%_100%]
    bg-gradient-to-tr from-pastel-purple via-pastel-pink to-pastel-orange">
    Banner
  </div> -->

  <div class="h-[calc(100%_-_3.5rem)]
    bg-bolby-light/50
    border-b-2 border-bolby-light">
    Banner
  </div>

</div>
